/* Estilos generales del header */
.header {
  align-items: center;
  color: #000;
  /* Color del texto */
  display: flex;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 100px;
  /* Altura fija para uniformidad */
  justify-content: space-between;
  padding: 0.5rem 2rem;
  /* Ajusta el espaciado */
}

/* Sección izquierda (Logo) */
.header-left {
  display: flex;
  align-items: center;
  gap: 1rem;
  /* Espacio de 1rem entre elementos */
}

.logo {
  display: block !important;
  height: auto;
  /*margin-left: -1rem; /* Corre el logo hacia la izquierda */
  object-fit: contain;
  /* Evita deformaciones */
  width: 230px;
  /* Ajusta el tamaño del logo */
}

/* Sección central (Título principal) */
.header-center {
  flex: 1;
  /* Hace que esta sección ocupe el espacio central */
  margin-left: -4rem;
  /* Corre el titulo hacia la izquierda */
  text-align: center;
}

.header-center h1,
.header-center h2 {
  font-size: 1.8rem;
  /* Tamaño del texto */
  font-weight: bold;
  margin: 0;
  white-space: nowrap;
  /* Evita saltos de línea en el texto */
}

/* Sección derecha UserBadge */
.header-right {
  position: relative;
}

.user-badge {
  position: relative;
  top: 0px;
  right: 0px;
  background-color: #333233;
  border: 2px solid white;
  border-radius: 15px;
  padding: 8px 12px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.user-info {
  display: flex;
  flex-direction: column;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 10px;
  color: white;
  margin-top: 0px;
}

.user-info strong {
  font-size: 12px;
  line-height: 1.1;
}

.user-info p {
  font-size: 11px;
  line-height: 1.1;
}

.user-initials {
  width: 30px;
  height: 30px;
  border: 2px solid white;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 12px;
  margin-top: 0px;
  margin-right: -7px;
}

.user-arrow{
  width: 24px;
  height: 24px;
  color: white;
}

.user-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-menu {
  position: relative;
  display: flex;
  align-items: center;
}

.dropdown-menu {
  position: absolute;
  top: 39px;
  /* Ajusta la posición vertical del menú */
  right: 0px;
  background-color: #565557;
  color: white;
  border-radius: 10px;
  padding: 10px 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  z-index: 999;
  list-style: none;
  min-width: 215px;
}


.dropdown-menu li {
  padding: 8px 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.85rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dropdown-menu li:hover {
  background-color: #333233;
}

.dropdown-menu li a {
  text-decoration: none;
  color: white;
  display: block;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.9rem;
  white-space: nowrap;
}

.submenu {
  list-style: none;
  padding-left: 24px;
  margin-bottom: 10px;
  position: relative;
  display: block;
}

.submenu li {
  list-style-type: none;
}

.submenu li::marker {
  display: none;
}

.submenu li a {
  text-decoration: underline;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.85rem;
  margin-left: -25px;
}

