.user-badge {
  position: absolute;
  top: 80px;
  right: 52px;
  background-color: #333233;
  border: 2px solid white;
  border-radius: 15px;
  padding: 8px 12px;
  display: flex;
  align-items: center;
  gap: 10px;
}

  .user-info {
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
    color: white;
    margin-top: 6px;
  }
  
  .user-info strong {
    font-size: 12px;
    line-height: 0.4;
  }

  .user-info p {
    font-size: 10px;
    line-height: 0.2;
  }
  
  .user-initials {
    width: 30px;
    height: 30px;
    border: 2px solid white;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 12px;
    margin-top: 0px;
  }